{% assign trans = site.data.values[site.lan] %}
<div class="sidebar well">
    <header class="sidebar-header" role="banner">
        <a href="{{ site.baseurl }}/">
            <img src="{{ site.baseurl }}/assets/images/Melissa_Square.jpg" class="img-circle" />
        </a>
        <!--
        <h3 class="title">
        <a href="{{ site.BASE_PATH }}/">{{ site.title }}</a>
        </h3>
        -->
    </header>
    <!-- <div class="text-center">
        {{ site.description }}
    </div> -->
</div>

{% if site.data.tops.size > 0 %}
<div class="sidebar well">
    <h1>{{ trans.top_posts }}</h1>
    <ul>
        {% for top in site.data.tops %}
            {% for post in site.posts %}
                {% if post.url contains top.url %}
                    <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ul>
</div>
{% endif %}

<div class="sidebar well">
    <h1>{{ trans.recent_posts }} change side? </h1>
    <ul>
    	{% assign sortedposts = site.posts | sort: 'date' | reversed %}
        {% for post in sortedposts limit:5 %}
          <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="sidebar well">
    <h1>Tags</h1>
    {% unless site.tags == empty %}
    <ul class="list-unstyled list-inline">
      {% assign tags_list = site.tags %}
      {% if tags_list.first[0] == null %}
        {% for tag in tags_list %} 
            <li class="icon-style">
                <a href="{{ site.baseurl }}/tags.html">{{ tag }}<span>({{ site.tags[tag].size }})</span>{% unless forloop.last %},{% endunless %}</a>
            </li>
        {% endfor %}
      {% else %}
        {% for tag in tags_list %} 
            <li class="icon-style">
                <a href="{{ site.baseurl }}/tags.html">{{ tag[0] }}<span>({{ tag[1].size }})</span>{% unless forloop.last %},{% endunless %}</a>
            </li>           
        {% endfor %}
      {% endif %}
      {% assign tags_list = nil %}
    </ul>
    {% endunless %}  
</div>

<div class="sidebar well">
    {% include links-list.html %}
</div>