---
layout: default
---
{% assign trans = site.data.values[site.lan] %}
<div class="well article">
	<div class="post-content">
		<h1>{{ page.category | capitalize }}</h1>

		{% unless page.content == '' %}
			<hr style="border-top:1px solid #28323C;"/>
		    {{ page.content }}
		    <hr style="border-top:1px solid #28323C;"/>
		{% endunless %}
	</div>
</div>
<br/>

<!-- List out all posts in this category -->
<div class="well article">
{% assign sortedcategories = site.categories[page.category] %}
{% for post in sortedcategories %}
    <ul>       
        <li><span class="post-date">
            {% assign date_format = site.date_format.title %}
            {{ post.date | date: date_format }} </span><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>       
    </ul>
    
{% endfor %}
</div>