---
layout: default
---

<h1>{{ page.category | capitalize }}</h1>

<div class="well article">
{% assign sortedcategories = site.categories.[page.category] | sort %}
{% for post in sortedcategories %}
    <ul>
    		    <li><span class="post-date">
                    {% assign date_format = site.date_format.categories %}
                    {{ post.date | date: date_format }} </span><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
    </ul>    
{% endfor %}
</div>
